html,
body {
    background-color: #1f2128;
    color: #6f7b88;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    height: 100%;
}

h1 {
    color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 35px;
}

h2 {
    color: #efefef;
    padding-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 32px;
}

h3 {
    color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 25px;
}

p {
    line-height: 1.7;
    font-family: 'Open Sans', sans-serif;
}

a:hover {
    color: #6f7b88;
    text-decoration: underline;
}

.ui.container {
    width: 700px;
}

.ui.inverted.dark1.segment {
    background-color: #292e3a!important;
    color: #fff!important;
}

.ui.inverted.dark2.segment {
    background-color: #303542!important;
    color: #fff!important;
}

.header-logo {
    height: 35px;
}

.footer-logo {
    width: 200px;
    opacity: 0.1;
}

.masthead {
    color: #efefef;
    padding: 35px 0;
}

.index-message {
    font-weight: 300;
    font-size: 30px;
    padding-bottom: 20px;
}

.mail-pattern {
    background-image: url("../images/background.png");
    background-size: 134px 125px;
    background-repeat: repeat;
}

.dark1 {
    background-color: #292e3a;
    color: #efefef;
}

.dark2 {
    background-color: #303542;
    color: #efefef;
}

.dark3 {
    background-color: #373c48;
    color: #efefef;
}

.padded {
    padding: 40px 0;
}

.padded-bottom {
    padding-bottom: 40px;
}